/* components/CardGrid.module.css */
.cardGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    max-width: 1700px;
    margin: auto;
    padding: 1em;
  }
  
  @media (min-width: 640px) {
    .cardGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .cardGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    position: relative;
    padding: 1rem;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(255,255,255, 0.2) 0%, rgba(255,255,255, 1), 100%); 
    transition: transform 0.3s ease;
    backdrop-filter: blur(10px);
  }
  .title { 
    color: #333;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .grade {
    color: #207D7D;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  .card:hover {
    transform: scale(1.03);
  }
  .headline{
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    border: 0;
    margin-bottom: 1em
  }
  .discountBadge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #e63946;
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
  }
  
  .imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
  }
  
  .image {
    border-radius: 4px;
  }

  .sectionHeadline {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  
  .addToCartButton {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    border: none;
    background-color: #1d3557;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .addToCartButton {
    opacity: 1;
  }
  
  .priceContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 1em;
  }
  
  .originalPrice {
    text-decoration: line-through;
    color: #a8a8a8;
  }
  
  .discountedPrice {
    font-weight: bold;
    color: #e63946;
  }
  