/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%; /* Optional, ensures full height */
  overflow-x: hidden; /* Prevents any horizontal overflow */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
